*{margin: 0;padding: 0;}
ul{
  list-style: none;
}
input{
  border: none;
  outline: none;
  background: none;
}
input:focus{
  border: none;
}
.container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
section{
  flex:1;
  overflow: hidden;
  margin-bottom: 50px;
}
header,.headers{
  z-index: 5;
}